version: '3'
services:
  toptal-assignment:
     build: .
     image: toptal-assignment
     ports:
       - "3333:3333"
     depends_on:
       - "database"
     networks:
       - my-app
  database:
    container_name: postgres_dev
    image: "postgres" # use latest official postgres version
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    networks:
      - my-app
networks:
  my-app:
    driver: bridge
